In [10]:
import pandas as pd

df=pd.read_excel("/content/Classes June 2018 Cleaned and preprocessed data.xlsx")
df1=pd.read_excel("/content/Cleaned and Preprocessed data Classes april-May 2018.xlsx")

In [3]:
df.info()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ActivitySiteID                           1112 non-null   object
 1   ActivityDescription                      1112 non-null   object
 2   BookingEndDateTime (Month / Day / Year)  1112 non-null   datetime64[ns]
 3   BookingStartTime                         1112 non-null   object
 4   MaxBookees                               1112 non-null   float64
 5   Number Booked                            1112 non-null   float64
 6   Price (INR)                              1112 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 60.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2177 entries, 0 to 2176
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ActivitySiteID                           2177 non-null   object
 1   ActivityDescription                      2177 non-null   object
 2   BookingEndDateTime (Month / Day / Year)  2177 non-null   datetime64[ns]
 3   BookingStartTime                         2177 non-null   object
 4   MaxBookees                               2177 non-null   float64
 5   Number Booked                            2177 non-null   float64
 6   Price (INR)                              2159 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 119.2+ KB

In [15]:

# Identify high-demand classes by analyzing the average number of bookings per class type.
df.groupby('ActivitySiteID')['Number Booked'].mean().sort_values(ascending=False)

ActivitySiteID
NBL    0.238244
BRP    0.220236
SBP    0.017941
HXP   -0.041180
TSC   -0.526702
Name: Number Booked, dtype: float64

In [16]:
# Identify peak times by analyzing the number of bookings per BookingEndDateTime (Month / Day / Year).
df.groupby('BookingEndDateTime (Month / Day / Year)')['Number Booked'].sum().sort_values(ascending=False)

BookingEndDateTime (Month / Day / Year)
2018-06-12    20.120077
2018-06-05    16.417104
2018-06-26    11.715485
2018-06-18     9.222700
2018-06-19     8.885370
2018-06-11     4.749304
2018-06-03     4.192778
2018-06-14     3.849758
2018-06-17     3.538135
2018-06-23     3.121722
2018-06-10     2.992599
2018-06-09     2.688629
2018-06-02     1.924879
2018-06-24     1.243548
2018-06-25     0.272572
2018-06-16     0.179163
2018-06-07    -1.708038
2018-06-30    -2.224531
2018-06-21    -3.020661
2018-06-04    -3.116424
2018-06-08    -3.467098
2018-06-15    -5.659250
2018-06-20    -7.566468
2018-06-13    -8.012905
2018-06-22    -8.056273
2018-06-01    -8.605145
2018-06-06    -8.769983
2018-06-28    -9.137337
2018-06-27   -12.694507
2018-06-29   -13.075205
Name: Number Booked, dtype: float64

In [24]:
# prompt: Use correlation analysis to understand factors contributing to high demand

import pandas as pd

# Calculate the correlation matrix
correlation_matrix = df.select_dtypes(include=['number']).corr()

# Select the columns related to demand and contributing factors
relevant_columns = ['Number Booked', 'MaxBookees','Price (INR)']
correlation_matrix = correlation_matrix[relevant_columns]

# Display the correlation matrix
print(correlation_matrix)

# Analyze the correlation coefficients to identify factors with strong positive or negative relationships with demand

               Number Booked  MaxBookees  Price (INR)
MaxBookees          0.424055    1.000000    -0.090777
Number Booked       1.000000    0.424055    -0.210143
Price (INR)        -0.210143   -0.090777     1.000000

In [25]:
# prompt: Formulate Pricing Strategy:
# Develop initial pricing recommendations based on identified high-demand periods and classes.

# Identify high-demand periods and classes
high_demand_periods = df.groupby('BookingEndDateTime (Month / Day / Year)')['Number Booked'].sum().sort_values(ascending=False).head(5)
high_demand_classes = df.groupby('ActivitySiteID')['Number Booked'].mean().sort_values(ascending=False).head(5)

# Develop initial pricing recommendations
# Increase prices for high-demand periods and classes
# Decrease prices for low-demand periods and classes
# Offer discounts or promotions during off-peak times
# Consider implementing dynamic pricing based on real-time demand

# Print initial pricing recommendations
print("High-demand periods:")
print(high_demand_periods)
print("\nHigh-demand classes:")
print(high_demand_classes)
print("\nPricing recommendations:")
print("- Increase prices for high-demand periods and classes.")
print("- Decrease prices for low-demand periods and classes.")
print("- Offer discounts or promotions during off-peak times.")
print("- Consider implementing dynamic pricing based on real-time demand.")

High-demand periods:
BookingEndDateTime (Month / Day / Year)
2018-06-12    20.120077
2018-06-05    16.417104
2018-06-26    11.715485
2018-06-18     9.222700
2018-06-19     8.885370
Name: Number Booked, dtype: float64

High-demand classes:
ActivitySiteID
NBL    0.238244
BRP    0.220236
SBP    0.017941
HXP   -0.041180
TSC   -0.526702
Name: Number Booked, dtype: float64

Pricing recommendations:
- Increase prices for high-demand periods and classes.
- Decrease prices for low-demand periods and classes.
- Offer discounts or promotions during off-peak times.
- Consider implementing dynamic pricing based on real-time demand.